<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="MobileOptimized" content="width">
		<meta name="HandheldFriendly" content="true">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ head_title|safe_join(' | ') }}</title>
		<css-placeholder token="{{ placeholder_token|raw }}">
	</head>
	<body>
		{{ page_top }}
		{{ page }}
		{{ page_bottom }}
		<js-bottom-placeholder token="{{ placeholder_token|raw }}">
	</body>
</html>